 <!-- Modal -->
 <form #form="ngForm">
 <div class="modal fade" id="addResource" tabindex="-1" aria-labelledby="addResource" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addResourceLabel">Add Resource</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label">Partner</label>
            <select id="PN" [(ngModel)]="addBenchRequest.PartnerName">
              <!-- <option>Select Partner</option> -->
              <option *ngFor="let partner of partnerList"> 
              {{partner.partnerName}} </option>
            </select>
          </div>
          <div class="form-group">
            <label for="NoOfResource">No. Of Resource</label>
            <input class="form-control form-control-lg" type="text" id="NoOfResource"
           [(ngModel)] = "addBenchRequest.NoOfResource" name="NoOfResource">
            </div>
           <div class="form-group">
           <label for="SkillSet">Skill Set</label>
            <input class="form-control form-control-lg" type="text" id="SkillSet"
            [(ngModel)] = "addBenchRequest.SkillSet" name="SkillSet">
            </div>
            <div class="form-group">
              <label for="YearsOfExperince">Years Of Experince</label>
               <input class="form-control form-control-lg" type="text" id="YearsOfExperince"
               [(ngModel)] = "addBenchRequest.YearsOfExperince" name="YearsOfExperince">
            </div>
           <div class="form-group">
            <label for="RatePerHrUSD">Rate Card ($)</label>
           <input class="form-control form-control-lg" type="text" id="RatePerHrUSD"
           [(ngModel)] = "addBenchRequest.RatePerHrUSD" name="RatePerHrUSD" >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button (click)="addBench()" class="btn btn-primary btnSubmit" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="">Submit</button>
      </div>
      </div>
    </div>
  </div>
</form>