<div class="navbar navbar-white bg-white">
    <div class="container-fluid">
      <p>Show
        <select [(ngModel)]="length">
          <option>10</option>
          <option>25</option>
          <option>50</option>
          <option>100</option>
        </select>
        entries
      </p>
      <form #addressForm="ngForm" class="d-flex">
        <input [(ngModel)]="searchValue" (ngModelChange)="searchBench()" name="searchValue" #it="ngModel" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      </div>
    </div>